@model IEnumerable<Coupon>

@{
    ViewData["Title"] = "Coupons";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="border backgroundWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Coupons List</h2>
        </div>
        <div class="col-6 text-right">
            <partial name="_CreateButtonPartial" />
        </div>
    </div>
    <br />
    <div>
        @if (Model.Count() > 0)
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        @*<label asp-for="First().Name"></label>*@
                        @Html.DisplayNameFor(m => m.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Discount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.MinimumAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.IsActive)
                    </th>
                    <th></th>
                    <th></th>
                </tr>
                @foreach (var category in Model)
                {
                    <tr>
                        <td>
                            @*<label asp-for="category.Name"></label>*@
                            @Html.DisplayFor(m => category.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(m => category.Discount)
                        </td>
                        <td>
                            @Html.DisplayFor(m => category.MinimumAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(m => category.IsActive)
                        </td>
                        <td>
                            <partial name="_TableButtonPartial" model="category.Id" />
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p> No Coupons exists....</p>
        }

    </div>
</div>

